@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.container {
	background-color: #f2fae0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
	background-color: #fff;
	position: relative;	
	width: 1000px;
	height: 50%;
	border-radius: 15px;
	justify-content: space-between;
	align-items: center;
}

.content::before{
	content: "";
	position: absolute;
	background-color: #58AF9B;
	width: 40%;
	height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;


	left: 60%;
}

.title{	
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize; /* Esta propriedade coloca em caixa alta a primeira letra de todas as palavras da Tag*/
}

.title-primary{
	color: #fff;
}

.title-second{
	color: #58AF9B;
}

.description{
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.description-primary{
	color: #fff
}

.description-second{
	color: #7f8c8d;
}

.btn{
	border-radius: 15px;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding: 10px 50px;
	cursor: pointer;
	width: 150px;
	align-self: center;
	margin: 0.4rem 0;
}

.btn-primary{
	background-color: transparent;
	border: 1px solid #fff;
}

.btn-primary:hover{
	background-color: #fff;
	color: #58AF9B;
}

.btn-second{
	background-color: #58AF9B;
	border: 1px solid #58AF9B;	
}

.btn-second:hover{
	background-color: #fff;
	border: 1px solid #58AF9B;
	color: #58AF9B;
}

.first-content{
	display: none;
}

.first-column {
    text-align: center;
    width: 40%;
    /* flex: 1 0 auto; */
    z-index: 10;
}

.second-column {
    /* flex: 2 0 auto; */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media{
	margin: 1rem 0;
}

.link-social-media:not(:first-child){
	margin-left: 10px;
}

/*
.item-social-media:not(:first-child){
	
}
*/

.link-social-media:hover .item-social-media{
	background-color: #58AF9B;
	color: #fff;
	border-color: #58AF9B;
}

.list-social-media{
	display: flex;
	list-style-type: none;
}

.item-social-media{
	border: 1px solid #bdc3c7;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #95a5a6; 
}

.form{
	display: flex;
	flex-direction: column;
	width: 55%;
	text-align: center;
}

.form input{
	height: 35px;
	width: 100%;
	border: none;
	background-color: #ecf0f1;
}

.label-input{
	background-color: #ecf0f1;
	display: flex;
	align-items: center;
	margin: 8px;
}

.icon-modifier{
	color: #7f8c8d;
	padding: 0 10px;	
}

.second-content{
	display: flex;
	position: absolute;
}

.second-content .first-column{
	order: 2;
}

.second-content .second-column{
	order: 1;
}

.forgot{
	color: #34495e;
	font-size: 14px;
}

.forgot::first-letter{
	/* A Pseudo Classe "::first-letter" coloca em caixa alta a primeira letra da frase da Tag*/
	text-transform: capitalize; 
}